@media screen and (min-width: 992px) {
  /* Ajusta los estilos para pantallas grandes aquí */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --bg-color: #2a2a2a;
  --second-bg-color: #1b1b1b;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color:#0512ff;
  --two-color:#0512ff;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body{
  background: black;
  color: var(--text-color);
}

header{
  background-color: rgba(0, 0, 0, 0.56);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  border-bottom: 0px solid transparent;
  transition: all .45s ease;
}

.logo{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

span{
  color: var(--main-color);
}

.lista{
  display: flex;

}

.lista a{
  color: var(--second-color);
  font-size: 20px;
  font-weight: 10;
  margin: 0 25px;
  transition: all .45s ease;
}

.lista a:hover{
  color: var(--main-color);;
}

.lista a.sub-lista{
  color: var(--two-color);
}

#menu-icon{
  font-size: 50px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section{
  padding: 20rem 10% 100px;
}

.home{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide{
  margin-bottom: 0px;
}

.uno{
  display: inline-block;
  margin-right: 20px;
  height: 30px;
  padding: 0 20px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 450;
  border-radius: 0px;
  background: var(--main-color);
  color: var(--text-color);
}

.dos{
  display: inline-block;
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
}

.home-text h1{
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  list-style: 1.1;
  margin: 0 0 1px;
}

.home-text h3{
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 2rem;
  font-weight: 650;
  line-height: 1.1;
}
.home-text p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--main-color);
  border-radius: 0px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;
}

.btn:hover{
  transform: scale(0.9);
}

.btn2{
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 35px;
}

.Conocer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.todo-img img{
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.todo-text h2{
  font-size: var(--h2-font);
  line-height: 1;
}
.todo-text h4{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.todo-text p{
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.Proyectos{
  background: var(--second-bg-color);
}

.main-text{
  text-align: center;
}

.main-text p{
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;

}

.main-text h2{
  font-size: var(--h2-font);
  line-height: 1;
}

.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box{
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
}

.box h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}

.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.read{
  display: inline-block;
  padding: 8px 18px;
  background: #333333;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all .45s ease;
}

.read{
  letter-spacing: 1px;
  background: #6a6a6a99;
  color: var(--text-color);
}

.box:hover{
  transform: translateY(-8px);
  cursor: pointer;
}

.Portafolio{
  text-align: center;
}

.portafolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: .5rem;
  margin-top: 5rem;
}

.row{
  position: relative;
  overflow: hidden;
  border-radius: 0;
  cursor: pointer;
}

.row img{
  max-width: 500px;
  width: 100%;
  border-radius: 0;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(0, 0, 0), #3902ff34);
  position: absolute;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  padding: 0 30px;
  transition: height 0.5s;
}

.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p{
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i{
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.row:hover img{
  transform: scale(1.1);
}

.row:hover .layer{
  height: 100%;
}

.contact{
  text-align: center;
  color: var(--text-color);
  margin: 0 0 35px;
  font-weight: 650;
  line-height: 1.1;
}